.button-primary {
  padding: 20px 40px;
  background-color: #3b2f2f;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity, 0.15s;
  font-size: 20px;
}
.button-secondary {
  padding: 8px 24px;
  background-color: white;
  color: #3b2f2f;
  border: none;
  border-radius: 5px;
}
.button-primary:hover {
  opacity: 0.7;
}
.button-primary:active {
  opacity: 0.2;
}